.cart{
    border: 1px solid goldenrod;
    padding:10px;
    margin: 10px 0;
    box-shadow: 5px 5px 10px gray;
    margin-left: 10px;
    width:350px;
    position: fixed;

}

.cart h3{
    font-size:20px;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
}

.placeBtn{
    padding:10px 20px;
    background: goldenrod;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
}